/* Header.css */
.user-header {
  display: grid;
  grid-template-columns: 40px 1.5fr 2fr 2fr 2fr 100px 80px;
  padding: 16px 24px;
  align-items: center;
  background-color: #1f2937;
  color: white;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .user-header {
    grid-template-columns: 1fr;
    grid-row-gap: 8px;
    text-align: left;
  }
}
